@page
@model Snackis.Pages.EditMessagePageModel
@using Snackis.Services 
@inject IMessageServices MessageServices
@{
    int numberOfImages = 0;
}

<div class="col-md-12 card">
    <div class="card-body text-center">
        <div class="card-header">
            @if (Model.GroupMessageToEdit != null)
            {
                <h3>Ändra Gruppmeddelande</h3>
            }
            @if (Model.MessageToEdit != null)
            {
                <h3>Ändra meddelande</h3>
            }
        </div>
        <div>


            @if (Model.GroupMessageToEdit != null)
            {
                <form method="post">
                    <textarea cols="145" rows="10" name="NewText">@Model.GroupMessageToEdit.Text</textarea>
                    <input type="hidden" value="@Model.GroupMessageToEdit.Id" name="GroupMessageId" />
                    <button type="submit" asp-page-handler="ChangeMessageText">Ändra meddelande</button>
                </form>
                @if (Model.GroupMessageToEdit.MessageImages.Count() != 0)
                {
                    <div class="row">
                        @foreach (var image in Model.GroupMessageToEdit.MessageImages)
                        {
                            <div class="col-md-6 pt-3">
                                <a href="/ShowImage?ImageId=@image.Id" target="_blank">
                                    <img src="@MessageServices.GetMessageImage(image)" width="100" height="100" alt="@image.Title" />
                                </a>
                                <a href="/EditMessagePage?DeleteImageId=@image.Id&GroupMessageId=@Model.GroupMessageToEdit.Id">Ta bort bild</a>
                            </div>
                            numberOfImages++;
                        }
                        @for (int i = numberOfImages; i < 2; i++)
                        {
                            <div class="col-md-6 pt-3">
                                <form method="post" asp-page-handler="MessageImage" enctype="multipart/form-data">
                                    <input type="hidden" value="@Model.GroupMessageToEdit.Id" name="GroupMessageId" />
                                    <input type="file" id="file1" name="file1" />
                                    <button type="submit" class="btn btn-primary">Ladda upp bild</button>
                                </form>
                            </div>
                        }
                    </div>
                }
                if (Model.GroupMessageToEdit.MessageImages.Count() == 0)
                {
                    <div class="row">
                        @for (int i = numberOfImages; i < 2; i++)
                        {
                            <div class="col-md-6 pt-3">
                                <form method="post" asp-page-handler="MessageImage" enctype="multipart/form-data">
                                    <input type="hidden" value="@Model.GroupMessageToEdit.Id" name="GroupMessageId" />
                                    <input type="file" id="file1" name="file1" />
                                    <button type="submit" class="btn btn-primary">Ladda upp bild</button>
                                </form>
                            </div>
                        }
                    </div>
                }
            }


            @if (Model.MessageToEdit != null)
            {
                <form method="post">
                    <textarea cols="145" rows="10" name="NewText">@Model.MessageToEdit.TextMessage</textarea>
                    <input type="hidden" value="@Model.MessageToEdit.Id" name="MessageId" />
                    <button type="submit" asp-page-handler="ChangeMessageText">Ändra meddelande</button>
                </form>
                @if (Model.MessageToEdit.MessageImages.Count() != 0)
                {
                    <div class="row">
                        @foreach (var image in Model.MessageToEdit.MessageImages)
                        {
                            <div class="col-md-4 pt-3">
                                <a href="/ShowImage?ImageId=@image.Id" target="_blank">
                                    <img src="@MessageServices.GetMessageImage(image)" width="100" height="100" alt="@image.Title" />
                                </a>
                                <a href="/EditMessagePage?DeleteImageId=@image.Id&MessageId=@Model.MessageToEdit.Id">Ta bort bild</a>
                            </div>
                            numberOfImages++;
                        }
                        @for (int i = numberOfImages; i < 3; i++)
                        {
                            <div class="col-md-4 pt-3">
                                <form method="post" asp-page-handler="MessageImage" enctype="multipart/form-data">
                                    <input type="hidden" value="@Model.MessageToEdit.Id" name="MessageId" />
                                    <input type="file" id="file1" name="file1" />
                                    <button type="submit" class="btn btn-primary">Ladda upp bild</button>
                                </form>
                            </div>
                        }
                    </div>
                }
                if (Model.MessageToEdit.MessageImages.Count() == 0)
                {
                    <div class="row">
                        @for (int i = numberOfImages; i < 3; i++)
                        {
                            <div class="col-md-4 pt-3">
                                <form method="post" asp-page-handler="MessageImage" enctype="multipart/form-data">
                                    <input type="hidden" value="@Model.MessageToEdit.Id" name="MessageId" />
                                    <input type="file" id="file1" name="file1" />
                                    <button type="submit" class="btn btn-primary">Ladda upp bild</button>
                                </form>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>