@page
@model Snackis.Pages.GroupMessagesModel
@using Snackis.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@using Snackis.Services
@inject UserManager<SnackisUser> UserManager
@inject SignInManager<SnackisUser> SignInManager
@inject IUserServices UserServices 
@inject IMessageServices MessageServices  

@{
    var user = await UserManager.GetUserAsync(User);
}



<div class="row col-md-12">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body" style="background-color: #a5a5a5">
                <div class="card-header text-center">
                    <h3>GRUPPER</h3>
                </div>
                <div class="pt-3">
                    @if (Model.ListOfGroupWithUser != null)
                    {
                        foreach (var group in Model.ListOfGroupWithUser)
                        {
                            <div class="card p-1 m-1">
                                <div>
                                    <a href="/GroupMessages?GroupId=@group.Id">@group.GroupName</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="card-footer" style="background-color: #737373">
                <button id="CreateGroupBtn" style="width: 100%" class="btn btn-primary" onclick="ShowItem('CreateGroupBtn', 'CreateGroupDiv', 'Dölj', 'Skapa Grupp')">Skapa Grupp</button>
                <div style="padding:0%" id="CreateGroupDiv" class="container d-none text-center mt-3">
                    <form method="post">
                        <label style="width:100%">Namn på grupp:</label>
                        <input style="width:100%" type="text" name="AGroup.GroupName" />
                        <button asp-page-handler="CreateGroup" style="width:100%" class="btn btn-primary mt-1" type="submit">Skapa Grupp</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body" style="background-color: #a5a5a5">
                <div class="card-header text-center pl-1 pr-1">
                    <h5>Användare i grupp</h5>
                </div>
                <div class="pt-3 text-center">
                    
                    @if (Model.Group != null)
                    {
                        @UserServices.GetUser(Model.Group.GroupStartedById).NickName<small>-(Admin)</small><br />
                        @foreach (var aUser in Model.Group.Users.OrderBy(u => u.NickName))
                        {
                            @aUser.NickName;<br />
                        }
                    }
                </div>
            </div>
            @if (Model.Group != null && user.Id == Model.Group.GroupStartedById)
            {
                <div class="card-footer" style="background-color: #737373">
                    <button id="GroupManagementButton" onclick="ShowItem('GroupManagementButton','GroupManagementDiv','Dölj grupphantering','Hantera grupp')" style="width: 100%" class="btn btn-primary">Hantera Grupp</button>
                    <div style="padding:0%" id="GroupManagementDiv" class="container d-none text-center mt-3">
                        <div class="text-center">
                            <form method="post">
                                <small>
                                    <label>Lägg till användare:</label>
                                    <select name="AddUserToGroup">
                                        @foreach (var aUser in Model.ListOfUsersNotInGroup)
                                        {
                                            <option value="@aUser.Id">@aUser.NickName</option>
                                        }
                                    </select>
                                    <button href="/GroupMessages?GroupId=@Model.GroupId" type="submit">Lägg till</button>
                                </small>
                            </form>
                        </div>
                        <div class="mt-2">
                            <form method="post">
                                <small>
                                    <label>Ta bort användare:</label>
                                    <select name="RemoveUserFromGroup">
                                        @foreach (var aUser in Model.Group.Users)
                                        {
                                            <option value="@aUser.Id">@aUser.NickName</option>
                                        }
                                    </select>
                                    <button class="btn-danger" href="/GroupMessages?GroupId=@Model.GroupId" type="submit">Ta bort</button>
                                </small>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-md-9">
        <div class="card">
            <div class="card-body" style="background-color: #a5a5a5"@*style="height:550px;overflow-y:scroll"*@>
                <div class="card-header text-center">
                    @if (Model.Group != null)
                    {
                        <section id="Top">
                            <h3>@Model.Group.GroupName</h3>
                        </section>
                        

                        <div class="mb-1">
                            <small><button id="MessageButton" onclick="ShowItem('WriteMessageButton','WriteMessageDiv','Dölj skrivet meddelande','Skriv meddelande')">Skriv meddelande</button></small>
                        </div>

                        <div id="WriteMessageDiv" class="d-none">
                            <form method="post" enctype="multipart/form-data">
                                <textarea name="AGroupMessage.Text" cols="96" rows="6"></textarea>
                                <input type="file" id="file1" name="file1" />
                                <input type="file" id="file2" name="file2" />
                                <button href="/GroupMessages?MessageInGroup=@Model.GroupId&GroupId=@Model.GroupId" type="submit" class="btn btn-primary">Skicka</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <h3>Meddelanden:</h3>
                    }
                </div>
                <div style="background-color: #a5a5a5">
                    @if (Model.ListOfGroupMessages != null)
                    {
                        foreach (var message in Model.ListOfGroupMessages.OrderByDescending(m => m.Time))
                        {
                            <div class="card p-1 m-1" @*class="m-1 p-1" style="border:1px solid black"*@>
                                <div class="row">
                                    <div class="col-md-2 text-center">
                                        <img src="@UserServices.ConvertUserImageToImage(message.SnackisUser)" width="80" height="80" alt="Ingen bild"/>
                                        @message.SnackisUser.NickName
                                    </div>
                                    <div class="col-md-10">
                                        @if (message.SnackisUserId == user.Id)
                                        {
                                            <small class="float-right"><a href="/EditMessagePage?GroupMessageId=@message.Id"><img src="~/img/EditIcon.svg" height="20" width="20" title="Ändra" /></a></small>
                                        }
                                        <small>@message.Time</small><br />
                                        @message.Text<br />
                                        @*TEXT*@
                                        @if (message.MessageImages != null)
                                        {
                                            <div style="align-items:center">
                                                @foreach (var img in message.MessageImages)
                                                {
                                                    <a href="/ShowImage?ImageId=@img.Id" target="_blank">
                                                        <img src="@MessageServices.GetMessageImage(img)" width="200" height="200" alt="@img.Title" class="m-3" />
                                                    </a>
                                                }
                                            </div>
                                        }
                                        @*TEXT*@
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            @if (Model.Group != null)
            {
                <div class="card-footer text-center" style="background-color: #737373">
                    <a class="btn btn-primary" href="#Top">Till toppen</a>
                </div>
            }
        </div>

    </div>
</div>

