@page
@model Snackis.Pages.GroupMessagesModel
@{
}



<div class="row col-md-12">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="card-header text-center">
                    <h3>GRUPPER</h3>
                </div>
                <div>
                    @if (Model.ListOfGroups != null)
                    {
                        foreach (var group in Model.ListOfGroups)
                        {
                            @group.GroupName;
                        }
                    }
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">Skapa Grupp</button>
            </div>
        </div>
    </div>
</div>




@*<div class="row col-md-12">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="card-header text-center">
                    <h3>Grupper:</h3>
                </div>
                <div class="text-center">
                    <label>Gå till grupp:</label><br />
                    <select>
                        @if (Model.Users != null)
                        {
                            @foreach (var user in Model.Users)
                            {
                                <option value="@user.Id">@user.NickName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">Gå till Grupp</button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="card-header text-center">
                    <h3>Bjud in till Chat:</h3>
                </div>
                <div class="text-center">
                    <label>Välj användare att bjuda in</label><br />
                    <select>
                        @if (Model.Users != null)
                        {
                            @foreach (var user in Model.Users)
                            {
                                <option value="@user.Id">@user.NickName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">Bjud in</button>
            </div>
        </div>
    </div>

</div>*@