@page
@model Snackis.Pages.MessagePageModel
@{
}

<div class="text-center m-5">
    <h1>@Model.SubThreadCopy.HeaderText</h1>
</div>


@foreach (var message in Model.ListOfMessages)
{
    <div class="card m-3" style="background-color:grey">
        <div class="row">
            <div class="col-md-1 text-center">
                @Model.GetUserNickName(message.SnackisUserId)
            </div>
            <div class="col-md-11">
                <div class="card-header">
                    <p>@message.Likes,  @message.Time</p>

                </div>
                <div class="card-body">
                    <p>@message.TextMessage</p>
                </div>
                <div class="card-footer">
                    @if (Model.IsSignedIn)
                    {
                        <button class="btn btn-primary">Svara på detta meddelande</button>
                        <a class="btn btn-primary" href="/ReportMessagePage?ReportedMessageId=@message.Id">Anmäl inlägg</a>
                    }
                </div>
            </div>
        </div>
    </div>

}

<div class="card m-3">
    <div class="card-body m-1 p-1">
        <form method="post">
            <small style="font-weight:900">Skapa inlägg:</small>
            <textarea rows="10" cols="148" class="form-control" name="AMessage.TextMessage"></textarea>
            <button type="submit" style="float:right" class="btn btn-primary">Skicka inlägg</button>
        </form>
    </div>
</div>