@page
@model Snackis.Pages.ReportMessagePageModel
@using Microsoft.AspNetCore.Identity
@using Snackis.Areas.Identity.Data
@using Snackis.Data.Models 
@using Snackis.Services 
@inject SignInManager<SnackisUser> SignInManager
@inject UserManager<SnackisUser> UserManager
@inject IBadWordGateway BadWordGateway 
@inject IMessageServices MessageService 
@{
    var user = UserManager.GetUserAsync(User);
    int color = 0;
}

@if (User.IsInRole("User") && !User.IsInRole("Admin"))
{
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="card-header text-center">
                <h3>Anmäl inlägg</h3>
            </div>
            @await BadWordGateway.CheckForBadWords(Model.ReportedMessage.TextMessage)
        </div>
        <div class="card-footer">
            <form method="post">
                <small>Skriv vad det är som stör dig i meddelandet:</small>
                <textarea name="MessageToAdmin" maxlength="250" cols="145" rows="2"></textarea>
                <small>max 250 tecken</small>
                <button style="float: right">Skicka</button>
            </form>
        </div>
    </div>
</div>
}

@if (User.IsInRole("Admin") && User.IsInRole("User"))
{
<div class="text-center">
    <h1>ANMÄLT INLÄGG</h1>
</div>


<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <small style="font-weight:900">Rapporterat inlägg:</small><br />
                <form method="post">
                    <input type="hidden" value="@Model.ReportedMessage.Id" asp-for="DeleteMessageId" />
                    <input type="hidden" value="@Model.ReportedMessage.Id" asp-for="ReportedMessageId" />
                    <textarea cols="145" rows="10" name="NewMessage">@Model.ReportedMessage.TextMessage</textarea>
                    <small style="font-weight:900">Från användaren: <a href="/UserInfo?UserId=@Model.ReportedMessage.SnackisUserId">@Model.ReportedMessage.SnackisUser.NickName</a></small><br />
                    <button asp-page-handler="ChangeMessage" type="submit" class="btn btn-primary float-right">Ändra inlägg och ta bort rapporteringar</button>
                </form>
                    @foreach (var image in Model.ReportedMessage.MessageImages)
                    {
                        <a href="/ShowImage?ImageId=@image.Id" target="_blank">
                        <img src="@MessageService.GetMessageImage(image)" width="100" height="100" alt="@image.Title" class="m-3" />
                        </a>
                        <a href="/ReportMessagePage?DeleteImageId=@image.Id&ReportedMessageId=@Model.ReportedMessage.Id">Ta bort bild</a>
                    }
        </div>
        <div class="card-body">
            <small style="font-weight:900">Kommentarer av rapporterare:</small><br />
            @foreach (var message in Model.ListOfReports)
            {
                if (color % 2 == 0)
                {
                    <div>
                        @message.Text
                    </div>
                }

                if (color % 2 == 1)
                {
                    <div style="background-color: grey">
                        @message.Text
                    </div>
                }
                color++;
            }
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>
}