@page
@model Snackis.Pages.SubThreadPageModel
@using Microsoft.AspNetCore.Identity
@using Snackis.Areas.Identity.Data
@inject SignInManager<SnackisUser> SignInManager
@inject UserManager<SnackisUser> UserManager
@{
}

<div class="text-center m-5">
    <h1>@Model.MainThreadCopy.Title</h1>
</div>

<div style="color:white">
    <a class="text-light ml-2 mr-2" href="/Index">Main Threads</a>/<a class="text-light ml-2 mr-2" href="/SubThreadPage?MainThreadId=@Model.MainThreadCopy.Id">@Model.MainThreadCopy.Title</a>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <div class="col-md-12 text-right">
        <a class="btn btn-primary" href="/NewSubThread?MainThreadId=@Model.MainThreadCopy.Id">Skapa ny tråd</a>
    </div>
}

@foreach (var subThread in Model.ListOfSubThreads.OrderByDescending(s => s.LatestMessage).ThenByDescending(s => s.Time))
{
    <div class="card p-3 m-2" style="background-color:grey">
        <a href="/MessagePage?SubThreadId=@subThread.Id"><h3 style="padding-bottom:2px">@subThread.HeaderText</h3></a>
        <small>Skapat av: @Model.GetUserNickName(subThread.SnackisUserId), skapat den: @subThread.Time</small>
        <hr class="m-1" />
        <h6 class="m-0 p-0">Senaste inlägg: @subThread.LatestMessage</h6>
    </div>
}
