@page
@model Snackis.Pages.UserInfoModel
@using Microsoft.AspNetCore.Identity
@using Snackis.Areas.Identity.Data 
@inject UserManager<SnackisUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="row">
    
    <div class="col-md-12 pb-3">
        <div class="card">
            <div class="card-body">
                <div class="card-header text-center">
                    <h3>@Model.SnackisUser.NickName</h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div style="width:100px">
                            <img src="@Model.ImageUrl" width="100" height="100" alt="Alternate Text" />
                        </div>

                        <div>
                            @if (user.Id == Model.SnackisUser.Id)
                            {
                                <form method="post" enctype="multipart/form-data">
                                    <input type="file" id="file1" name="file1"/>
                                    <button type="submit" class="btn btn-primary">Ladda upp bild</button>
                                </form>
                            }
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h6>Antal trådstarter: @Model.SubThreadStarted</h6>
                    </div>
                    <div class="col-md-4">
                        <h6>Antal meddelanden i forum: @Model.ForumMessages</h6>
                    </div>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="card-header text-center">
                    <h3>Senaste inläggen</h3>
                </div>
                <table width="100%">
                    <tr>
                        <th>Trådnamn:</th>
                        <th>Tid:</th>
                    </tr>
                @foreach (var message in Model.SnackisUser.Messages.OrderByDescending(m => m.Time).Take(10))
                {
                <tr>
                    <td>
                        @message.SubThread.HeaderText
                    </td>
                    <td>
                        @message.Time
                    </td>
                </tr>
                }
                </table>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="card-header text-center">
                    <h3>Senaste trådstarterna</h3>
                </div>
                <table width="100%">
                    <tr>
                        <th>Trådnamn:</th>
                        <th>Tid:</th>
                    </tr>
                    @foreach (var subThread in Model.SnackisUser.SubThreads.OrderByDescending(m => m.Time).Take(10))
                    {
                        <tr>
                            <td>
                                @subThread.HeaderText
                            </td>
                            <td>
                                @subThread.Time
                            </td>
                        </tr>
                    }
                </table>

            </div>
            <div class="card-footer">

            </div>
        </div>

    </div>
</div>
